@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.naoExibir {
  display: none;
}

.exibir {
  display: block;
}

@media (max-width: 853px) {
  #divPai {
    width: 600px;
  }
}

@media (max-width: 653px) {
  #divPai {
    width: 370px;
  }

  #textCrie {
    text-align: center;
  }

  #modal {
    width: 340px;
    text-align: center;
  }
}

.closeModal {
  position: absolute;
  z-index: 1000;
  top: 25%;
  opacity: 0;
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
}

.divSob {
  z-index: 999;
  position: absolute;
  opacity: 0.7;
}

.openModal {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: 0.5s ease;
}

.error {
  border-bottom: 1px solid red;
}

.borderNormal {
  border-bottom: 1px solid #a7a7a7;
}

.borderNormalData {
  border: 1px solid #e5e7eb;
}

.borderErroData {
  border: 1px solid red;
}
